body {
	background-color: #e9eff3;
	font-family: "Avant Garde", sans-serif;
	font-size: 0.75em;
	text-indent: left;
}
h4 {
	color: #0075a5;
	font-size: 1.75em;
	text-align: center;
}
a:link {
	text-decoration: none;
	color: #87a6bc;
}
a:visited {
	text-decoration: none;
	color: #87a6bc;
}
a:hover {
	text-decoration: none;
	color: #0087be;
}
#navbar {
	height: 40px;
	width: 100%;
}
#navbar-left {
	height: 40px;
	margin-top: -8px;
	margin-bottom: 10px;
	margin-left: -8px;
	margin-right: -8px;
	text-decoration: none;
	background-color: #0087be;
}
p {
	color: #0087be;
	font-size: 1em;
	text-align: left;
}
h1 {
	color: white;
	margin-top: 12%;
	margin-left: 10px;
	font-size: 3.50em;
	margin-left: 10%;
}
#login {
	padding: 30px 30px;
}
.container {
	padding: 16px;
	background-color: #fff;
	margin-left: 33%;
	margin-right: 33%;
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #0087be;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    width: 100%;
}
input[type=password] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #0087be;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    width: 100%;
}
input[type=submit] {
    float: none;
    clear: both;
    width: 100%;
    display: block;
    background: #00aadc;
    border-color: #0087be;
    color: white;
    border-style: solid;
    border-width: 1px 1px 2px;
    cursor: pointer;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.3;
    height: auto;
    border-radius: 4px;
    padding: 10px 16px;
    -webkit-appearance: none;
}